*{
    box-sizing: border-box;
}

body{
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.notch button{
    background-color: #EAEAEA;
}

.formBox{
    background-color: #BFD3C1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 30%;
    padding: 50px;
    border-radius: 5px;
}

.formBox button{
    background-color: #EAEAEA;
    margin: 10px;
}

label{
    padding-right: 62%;
}
input{
    margin-bottom: 10px;
}